{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Patrick's Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>

    <header class="site-header">
        <h1>Patrick Aghidi</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% static 'portfolio/patrick_resume.pdf' %}" download>Resume</a>
            <a href="https://github.com/venith-creator" target="_blank">GitHub</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <p>Connect with me:</p>
        <a href="https://github.com/venith-creator" target="_blank">GitHub</a> |
        <a href="https://www.linkedin.com/in/patrick-aghidi-806365358" target="_blank">LinkedIn</a> |
        <a href="mailto:patrickaghidi222005@gmail.com">Email Me</a>
    </footer>
</body>
</html>
