
{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<h2>Contact Me</h2>

{% if success %}
  <p class="success-msg">✅ Message sent successfully!</p>
{% endif %}
{% if messages %}
  {% for message in messages %}
    <div class="success-msg">{{ message }}</div>
  {% endfor %}
{% endif %}


<form method="post" class="contact-form">
  {% csrf_token %}
  
  <div class="form-group">
    {{ form.name.label_tag }}<br />
    {{ form.name }}
  </div>

  <div class="form-group">
    {{ form.email.label_tag }}<br />
    {{ form.email }}
  </div>

  <div class="form-group">
    {{ form.message.label_tag }}<br />
    {{ form.message }}
  </div>

  <button type="submit" class="contact-submit">Send</button>
</form>
{% endblock %}

